In [13]:
import pandas as pd
import numpy as np
from scipy.cluster.hierarchy import linkage, dendrogram, cut_tree
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv("/kaggle/input/abc-csv/abc.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
df1 = df[['Fare', 'Age', 'PassengerId']]
df1.head()

      Fare   Age  PassengerId
0   7.2500  22.0            1
1  71.2833  38.0            2
2   7.9250  26.0            3
3  53.1000  35.0            4
4   8.0500  35.0            5

In [16]:
df1.set_index("PassengerId", inplace=True)

In [17]:
df1.head()

                Fare   Age
PassengerId
1             7.2500  22.0
2            71.2833  38.0
3             7.9250  26.0
4            53.1000  35.0
5             8.0500  35.0

In [19]:
df1['Fare'].isnull().sum()

0

In [23]:
b = df1['Age'].mean()
s = round(b, 2)
s

29.7

In [24]:
df1['Age'].fillna(s, inplace=True)

/tmp/ipykernel_42/4067009316.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Age'].fillna(s, inplace=True)

In [25]:
df1['Age'].isnull().sum()

0

In [26]:
data = df1[['Fare', 'Age']]
data

                Fare   Age
PassengerId
1             7.2500  22.0
2            71.2833  38.0
3             7.9250  26.0
4            53.1000  35.0
5             8.0500  35.0
...              ...   ...
887          13.0000  27.0
888          30.0000  19.0
889          23.4500  29.7
890          30.0000  26.0
891           7.7500  32.0

[891 rows x 2 columns]

In [27]:
single_linkage = linkage(data, method='single')
single_linkage

array([[   0.        ,  212.        ,    0.        ,    2.        ],
       [ 320.        ,  891.        ,    0.        ,    3.        ],
       [ 376.        ,  892.        ,    0.        ,    4.        ],
       ...,
       [1776.        , 1777.        ,   21.53675968,   17.        ],
       [1775.        , 1778.        ,   46.51381787,  888.        ],
       [1408.        , 1779.        ,  249.57173312,  891.        ]])

In [29]:
complete_linkage = linkage(data, method='complete')
complete_linkage

array([[   0.        ,  212.        ,    0.        ,    2.        ],
       [ 628.        ,  870.        ,    0.        ,    2.        ],
       [   4.        ,  614.        ,    0.        ,    2.        ],
       ...,
       [1776.        , 1777.        ,  166.9042503 ,  871.        ],
       [1774.        , 1778.        ,  266.82203807,  888.        ],
       [1319.        , 1779.        ,  512.61116762,  891.        ]])

In [30]:
num_clusters = 10

In [31]:
cluster_assignments = cut_tree(single_linkage, n_clusters=num_clusters).flatten()
cluster_assignments

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 4, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 7, 0, 0, 0, 0, 0, 6, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       0, 0, 2, 0, 2, 0, 0, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2,
       0, 0, 0, 8, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0,
       0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [33]:
print("Cluster Assignments:")
for i, assignment in enumerate(cluster_assignments):
    print(f"Data point {i+1}: Cluster {assignment}")

Cluster Assignments:
Data point 1: Cluster 0
Data point 2: Cluster 0
Data point 3: Cluster 0
Data point 4: Cluster 0
Data point 5: Cluster 0
Data point 6: Cluster 0
Data point 7: Cluster 0
Data point 8: Cluster 0
Data point 9: Cluster 0
Data point 10: Cluster 0
Data point 11: Cluster 0
Data point 12: Cluster 0
Data point 13: Cluster 0
Data point 14: Cluster 0
Data point 15: Cluster 0
Data point 16: Cluster 0
Data point 17: Cluster 0
Data point 18: Cluster 0
Data point 19: Cluster 0
Data point 20: Cluster 0
Data point 21: Cluster 0
Data point 22: Cluster 0
Data point 23: Cluster 0
Data point 24: Cluster 0
Data point 25: Cluster 0
Data point 26: Cluster 0
Data point 27: Cluster 0
Data point 28: Cluster 1
Data point 29: Cluster 0
Data point 30: Cluster 0
Data point 31: Cluster 0
Data point 32: Cluster 2
Data point 33: Cluster 0
Data point 34: Cluster 0
Data point 35: Cluster 0
Data point 36: Cluster 0
Data point 37: Cluster 0
Data point 38: Cluster 0
Data point 39: Cluster 0
Data point 40: Cluster 0
Data point 41: Cluster 0
Data point 42: Cluster 0
Data point 43: Cluster 0
Data point 44: Cluster 0
Data point 45: Cluster 0
Data point 46: Cluster 0
Data point 47: Cluster 0
Data point 48: Cluster 0
Data point 49: Cluster 0
Data point 50: Cluster 0
Data point 51: Cluster 0
Data point 52: Cluster 0
Data point 53: Cluster 0
Data point 54: Cluster 0
Data point 55: Cluster 0
Data point 56: Cluster 0
Data point 57: Cluster 0
Data point 58: Cluster 0
Data point 59: Cluster 0
Data point 60: Cluster 0
Data point 61: Cluster 0
Data point 62: Cluster 0
Data point 63: Cluster 0
Data point 64: Cluster 0
Data point 65: Cluster 0
Data point 66: Cluster 0
Data point 67: Cluster 0
Data point 68: Cluster 0
Data point 69: Cluster 0
Data point 70: Cluster 0
Data point 71: Cluster 0
Data point 72: Cluster 0
Data point 73: Cluster 0
Data point 74: Cluster 0
Data point 75: Cluster 0
Data point 76: Cluster 0
Data point 77: Cluster 0
Data point 78: Cluster 0
Data point 79: Cluster 0
Data point 80: Cluster 0
Data point 81: Cluster 0
Data point 82: Cluster 0
Data point 83: Cluster 0
Data point 84: Cluster 0
Data point 85: Cluster 0
Data point 86: Cluster 0
Data point 87: Cluster 0
Data point 88: Cluster 0
Data point 89: Cluster 1
Data point 90: Cluster 0
Data point 91: Cluster 0
Data point 92: Cluster 0
Data point 93: Cluster 0
Data point 94: Cluster 0
Data point 95: Cluster 0
Data point 96: Cluster 0
Data point 97: Cluster 0
Data point 98: Cluster 0
Data point 99: Cluster 0
Data point 100: Cluster 0
Data point 101: Cluster 0
Data point 102: Cluster 0
Data point 103: Cluster 0
Data point 104: Cluster 0
Data point 105: Cluster 0
Data point 106: Cluster 0
Data point 107: Cluster 0
Data point 108: Cluster 0
Data point 109: Cluster 0
Data point 110: Cluster 0
Data point 111: Cluster 0
Data point 112: Cluster 0
Data point 113: Cluster 0
Data point 114: Cluster 0
Data point 115: Cluster 0
Data point 116: Cluster 0
Data point 117: Cluster 0
Data point 118: Cluster 0
Data point 119: Cluster 3
Data point 120: Cluster 0
Data point 121: Cluster 0
Data point 122: Cluster 0
Data point 123: Cluster 0
Data point 124: Cluster 0
Data point 125: Cluster 0
Data point 126: Cluster 0
Data point 127: Cluster 0
Data point 128: Cluster 0
Data point 129: Cluster 0
Data point 130: Cluster 0
Data point 131: Cluster 0
Data point 132: Cluster 0
Data point 133: Cluster 0
Data point 134: Cluster 0
Data point 135: Cluster 0
Data point 136: Cluster 0
Data point 137: Cluster 0
Data point 138: Cluster 0
Data point 139: Cluster 0
Data point 140: Cluster 0
Data point 141: Cluster 0
Data point 142: Cluster 0
Data point 143: Cluster 0
Data point 144: Cluster 0
Data point 145: Cluster 0
Data point 146: Cluster 0
Data point 147: Cluster 0
Data point 148: Cluster 0
Data point 149: Cluster 0
Data point 150: Cluster 0
Data point 151: Cluster 0
Data point 152: Cluster 0
Data point 153: Cluster 0
Data point 154: Cluster 0
Data point 155: Cluster 0
Data point 156: Cluster 0
Data point 157: Cluster 0
Data point 158: Cluster 0
Data point 159: Cluster 0
Data point 160: Cluster 0
Data point 161: Cluster 0
Data point 162: Cluster 0
Data point 163: Cluster 0
Data point 164: Cluster 0
Data point 165: Cluster 0
Data point 166: Cluster 0
Data point 167: Cluster 0
Data point 168: Cluster 0
Data point 169: Cluster 0
Data point 170: Cluster 0
Data point 171: Cluster 0
Data point 172: Cluster 0
Data point 173: Cluster 0
Data point 174: Cluster 0
Data point 175: Cluster 0
Data point 176: Cluster 0
Data point 177: Cluster 0
Data point 178: Cluster 0
Data point 179: Cluster 0
Data point 180: Cluster 0
Data point 181: Cluster 0
Data point 182: Cluster 0
Data point 183: Cluster 0
Data point 184: Cluster 0
Data point 185: Cluster 0
Data point 186: Cluster 0
Data point 187: Cluster 0
Data point 188: Cluster 0
Data point 189: Cluster 0
Data point 190: Cluster 0
Data point 191: Cluster 0
Data point 192: Cluster 0
Data point 193: Cluster 0
Data point 194: Cluster 0
Data point 195: Cluster 0
Data point 196: Cluster 4
Data point 197: Cluster 0
Data point 198: Cluster 0
Data point 199: Cluster 0
Data point 200: Cluster 0
Data point 201: Cluster 0
Data point 202: Cluster 0
Data point 203: Cluster 0
Data point 204: Cluster 0
Data point 205: Cluster 0
Data point 206: Cluster 0
Data point 207: Cluster 0
Data point 208: Cluster 0
Data point 209: Cluster 0
Data point 210: Cluster 0
Data point 211: Cluster 0
Data point 212: Cluster 0
Data point 213: Cluster 0
Data point 214: Cluster 0
Data point 215: Cluster 0
Data point 216: Cluster 0
Data point 217: Cluster 0
Data point 218: Cluster 0
Data point 219: Cluster 0
Data point 220: Cluster 0
Data point 221: Cluster 0
Data point 222: Cluster 0
Data point 223: Cluster 0
Data point 224: Cluster 0
Data point 225: Cluster 0
Data point 226: Cluster 0
Data point 227: Cluster 0
Data point 228: Cluster 0
Data point 229: Cluster 0
Data point 230: Cluster 0
Data point 231: Cluster 0
Data point 232: Cluster 0
Data point 233: Cluster 0
Data point 234: Cluster 0
Data point 235: Cluster 0
Data point 236: Cluster 0
Data point 237: Cluster 0
Data point 238: Cluster 0
Data point 239: Cluster 0
Data point 240: Cluster 0
Data point 241: Cluster 0
Data point 242: Cluster 0
Data point 243: Cluster 0
Data point 244: Cluster 0
Data point 245: Cluster 0
Data point 246: Cluster 0
Data point 247: Cluster 0
Data point 248: Cluster 0
Data point 249: Cluster 0
Data point 250: Cluster 0
Data point 251: Cluster 0
Data point 252: Cluster 0
Data point 253: Cluster 0
Data point 254: Cluster 0
Data point 255: Cluster 0
Data point 256: Cluster 0
Data point 257: Cluster 0
Data point 258: Cluster 0
Data point 259: Cluster 5
Data point 260: Cluster 0
Data point 261: Cluster 0
Data point 262: Cluster 0
Data point 263: Cluster 0
Data point 264: Cluster 0
Data point 265: Cluster 0
Data point 266: Cluster 0
Data point 267: Cluster 0
Data point 268: Cluster 0
Data point 269: Cluster 4
Data point 270: Cluster 2
Data point 271: Cluster 0
Data point 272: Cluster 0
Data point 273: Cluster 0
Data point 274: Cluster 0
Data point 275: Cluster 0
Data point 276: Cluster 0
Data point 277: Cluster 0
Data point 278: Cluster 0
Data point 279: Cluster 0
Data point 280: Cluster 0
Data point 281: Cluster 0
Data point 282: Cluster 0
Data point 283: Cluster 0
Data point 284: Cluster 0
Data point 285: Cluster 0
Data point 286: Cluster 0
Data point 287: Cluster 0
Data point 288: Cluster 0
Data point 289: Cluster 0
Data point 290: Cluster 0
Data point 291: Cluster 0
Data point 292: Cluster 0
Data point 293: Cluster 0
Data point 294: Cluster 0
Data point 295: Cluster 0
Data point 296: Cluster 0
Data point 297: Cluster 0
Data point 298: Cluster 6
Data point 299: Cluster 0
Data point 300: Cluster 7
Data point 301: Cluster 0
Data point 302: Cluster 0
Data point 303: Cluster 0
Data point 304: Cluster 0
Data point 305: Cluster 0
Data point 306: Cluster 6
Data point 307: Cluster 0
Data point 308: Cluster 0
Data point 309: Cluster 0
Data point 310: Cluster 0
Data point 311: Cluster 0
Data point 312: Cluster 1
Data point 313: Cluster 0
Data point 314: Cluster 0
Data point 315: Cluster 0
Data point 316: Cluster 0
Data point 317: Cluster 0
Data point 318: Cluster 0
Data point 319: Cluster 2
Data point 320: Cluster 2
Data point 321: Cluster 0
Data point 322: Cluster 0
Data point 323: Cluster 0
Data point 324: Cluster 0
Data point 325: Cluster 0
Data point 326: Cluster 2
Data point 327: Cluster 0
Data point 328: Cluster 0
Data point 329: Cluster 0
Data point 330: Cluster 0
Data point 331: Cluster 0
Data point 332: Cluster 0
Data point 333: Cluster 2
Data point 334: Cluster 0
Data point 335: Cluster 2
Data point 336: Cluster 0
Data point 337: Cluster 0
Data point 338: Cluster 2
Data point 339: Cluster 0
Data point 340: Cluster 0
Data point 341: Cluster 0
Data point 342: Cluster 1
Data point 343: Cluster 0
Data point 344: Cluster 0
Data point 345: Cluster 0
Data point 346: Cluster 0
Data point 347: Cluster 0
Data point 348: Cluster 0
Data point 349: Cluster 0
Data point 350: Cluster 0
Data point 351: Cluster 0
Data point 352: Cluster 0
Data point 353: Cluster 0
Data point 354: Cluster 0
Data point 355: Cluster 0
Data point 356: Cluster 0
Data point 357: Cluster 0
Data point 358: Cluster 0
Data point 359: Cluster 0
Data point 360: Cluster 0
Data point 361: Cluster 0
Data point 362: Cluster 0
Data point 363: Cluster 0
Data point 364: Cluster 0
Data point 365: Cluster 0
Data point 366: Cluster 0
Data point 367: Cluster 0
Data point 368: Cluster 0
Data point 369: Cluster 0
Data point 370: Cluster 0
Data point 371: Cluster 0
Data point 372: Cluster 0
Data point 373: Cluster 0
Data point 374: Cluster 2
Data point 375: Cluster 0
Data point 376: Cluster 0
Data point 377: Cluster 0
Data point 378: Cluster 8
Data point 379: Cluster 0
Data point 380: Cluster 0
Data point 381: Cluster 8
Data point 382: Cluster 0
Data point 383: Cluster 0
Data point 384: Cluster 0
Data point 385: Cluster 0
Data point 386: Cluster 0
Data point 387: Cluster 0
Data point 388: Cluster 0
Data point 389: Cluster 0
Data point 390: Cluster 0
Data point 391: Cluster 0
Data point 392: Cluster 0
Data point 393: Cluster 0
Data point 394: Cluster 0
Data point 395: Cluster 0
Data point 396: Cluster 0
Data point 397: Cluster 0
Data point 398: Cluster 0
Data point 399: Cluster 0
Data point 400: Cluster 0
Data point 401: Cluster 0
Data point 402: Cluster 0
Data point 403: Cluster 0
Data point 404: Cluster 0
Data point 405: Cluster 0
Data point 406: Cluster 0
Data point 407: Cluster 0
Data point 408: Cluster 0
Data point 409: Cluster 0
Data point 410: Cluster 0
Data point 411: Cluster 0
Data point 412: Cluster 0
Data point 413: Cluster 0
Data point 414: Cluster 0
Data point 415: Cluster 0
Data point 416: Cluster 0
Data point 417: Cluster 0
Data point 418: Cluster 0
Data point 419: Cluster 0
Data point 420: Cluster 0
Data point 421: Cluster 0
Data point 422: Cluster 0
Data point 423: Cluster 0
Data point 424: Cluster 0
Data point 425: Cluster 0
Data point 426: Cluster 0
Data point 427: Cluster 0
Data point 428: Cluster 0
Data point 429: Cluster 0
Data point 430: Cluster 0
Data point 431: Cluster 0
Data point 432: Cluster 0
Data point 433: Cluster 0
Data point 434: Cluster 0
Data point 435: Cluster 0
Data point 436: Cluster 0
Data point 437: Cluster 0
Data point 438: Cluster 0
Data point 439: Cluster 9
Data point 440: Cluster 0
Data point 441: Cluster 0
Data point 442: Cluster 0
Data point 443: Cluster 0
Data point 444: Cluster 0
Data point 445: Cluster 0
Data point 446: Cluster 0
Data point 447: Cluster 0
Data point 448: Cluster 0
Data point 449: Cluster 0
Data point 450: Cluster 0
Data point 451: Cluster 0
Data point 452: Cluster 0
Data point 453: Cluster 0
Data point 454: Cluster 0
Data point 455: Cluster 0
Data point 456: Cluster 0
Data point 457: Cluster 0
Data point 458: Cluster 0
Data point 459: Cluster 0
Data point 460: Cluster 0
Data point 461: Cluster 0
Data point 462: Cluster 0
Data point 463: Cluster 0
Data point 464: Cluster 0
Data point 465: Cluster 0
Data point 466: Cluster 0
Data point 467: Cluster 0
Data point 468: Cluster 0
Data point 469: Cluster 0
Data point 470: Cluster 0
Data point 471: Cluster 0
Data point 472: Cluster 0
Data point 473: Cluster 0
Data point 474: Cluster 0
Data point 475: Cluster 0
Data point 476: Cluster 0
Data point 477: Cluster 0
Data point 478: Cluster 0
Data point 479: Cluster 0
Data point 480: Cluster 0
Data point 481: Cluster 0
Data point 482: Cluster 0
Data point 483: Cluster 0
Data point 484: Cluster 0
Data point 485: Cluster 0
Data point 486: Cluster 0
Data point 487: Cluster 0
Data point 488: Cluster 0
Data point 489: Cluster 0
Data point 490: Cluster 0
Data point 491: Cluster 0
Data point 492: Cluster 0
Data point 493: Cluster 0
Data point 494: Cluster 0
Data point 495: Cluster 0
Data point 496: Cluster 0
Data point 497: Cluster 0
Data point 498: Cluster 0
Data point 499: Cluster 2
Data point 500: Cluster 0
Data point 501: Cluster 0
Data point 502: Cluster 0
Data point 503: Cluster 0
Data point 504: Cluster 0
Data point 505: Cluster 0
Data point 506: Cluster 0
Data point 507: Cluster 0
Data point 508: Cluster 0
Data point 509: Cluster 0
Data point 510: Cluster 0
Data point 511: Cluster 0
Data point 512: Cluster 0
Data point 513: Cluster 0
Data point 514: Cluster 0
Data point 515: Cluster 0
Data point 516: Cluster 0
Data point 517: Cluster 0
Data point 518: Cluster 0
Data point 519: Cluster 0
Data point 520: Cluster 0
Data point 521: Cluster 0
Data point 522: Cluster 0
Data point 523: Cluster 0
Data point 524: Cluster 0
Data point 525: Cluster 0
Data point 526: Cluster 0
Data point 527: Cluster 0
Data point 528: Cluster 8
Data point 529: Cluster 0
Data point 530: Cluster 0
Data point 531: Cluster 0
Data point 532: Cluster 0
Data point 533: Cluster 0
Data point 534: Cluster 0
Data point 535: Cluster 0
Data point 536: Cluster 0
Data point 537: Cluster 0
Data point 538: Cluster 0
Data point 539: Cluster 0
Data point 540: Cluster 0
Data point 541: Cluster 0
Data point 542: Cluster 0
Data point 543: Cluster 0
Data point 544: Cluster 0
Data point 545: Cluster 0
Data point 546: Cluster 0
Data point 547: Cluster 0
Data point 548: Cluster 0
Data point 549: Cluster 0
Data point 550: Cluster 0
Data point 551: Cluster 0
Data point 552: Cluster 0
Data point 553: Cluster 0
Data point 554: Cluster 0
Data point 555: Cluster 0
Data point 556: Cluster 0
Data point 557: Cluster 0
Data point 558: Cluster 8
Data point 559: Cluster 0
Data point 560: Cluster 0
Data point 561: Cluster 0
Data point 562: Cluster 0
Data point 563: Cluster 0
Data point 564: Cluster 0
Data point 565: Cluster 0
Data point 566: Cluster 0
Data point 567: Cluster 0
Data point 568: Cluster 0
Data point 569: Cluster 0
Data point 570: Cluster 0
Data point 571: Cluster 0
Data point 572: Cluster 0
Data point 573: Cluster 0
Data point 574: Cluster 0
Data point 575: Cluster 0
Data point 576: Cluster 0
Data point 577: Cluster 0
Data point 578: Cluster 0
Data point 579: Cluster 0
Data point 580: Cluster 0
Data point 581: Cluster 0
Data point 582: Cluster 0
Data point 583: Cluster 0
Data point 584: Cluster 0
Data point 585: Cluster 0
Data point 586: Cluster 0
Data point 587: Cluster 0
Data point 588: Cluster 0
Data point 589: Cluster 0
Data point 590: Cluster 0
Data point 591: Cluster 0
Data point 592: Cluster 0
Data point 593: Cluster 0
Data point 594: Cluster 0
Data point 595: Cluster 0
Data point 596: Cluster 0
Data point 597: Cluster 0
Data point 598: Cluster 0
Data point 599: Cluster 0
Data point 600: Cluster 0
Data point 601: Cluster 0
Data point 602: Cluster 0
Data point 603: Cluster 0
Data point 604: Cluster 0
Data point 605: Cluster 0
Data point 606: Cluster 0
Data point 607: Cluster 0
Data point 608: Cluster 0
Data point 609: Cluster 0
Data point 610: Cluster 2
Data point 611: Cluster 0
Data point 612: Cluster 0
Data point 613: Cluster 0
Data point 614: Cluster 0
Data point 615: Cluster 0
Data point 616: Cluster 0
Data point 617: Cluster 0
Data point 618: Cluster 0
Data point 619: Cluster 0
Data point 620: Cluster 0
Data point 621: Cluster 0
Data point 622: Cluster 0
Data point 623: Cluster 0
Data point 624: Cluster 0
Data point 625: Cluster 0
Data point 626: Cluster 0
Data point 627: Cluster 0
Data point 628: Cluster 0
Data point 629: Cluster 0
Data point 630: Cluster 0
Data point 631: Cluster 0
Data point 632: Cluster 0
Data point 633: Cluster 0
Data point 634: Cluster 0
Data point 635: Cluster 0
Data point 636: Cluster 0
Data point 637: Cluster 0
Data point 638: Cluster 0
Data point 639: Cluster 0
Data point 640: Cluster 0
Data point 641: Cluster 0
Data point 642: Cluster 0
Data point 643: Cluster 0
Data point 644: Cluster 0
Data point 645: Cluster 0
Data point 646: Cluster 0
Data point 647: Cluster 0
Data point 648: Cluster 0
Data point 649: Cluster 0
Data point 650: Cluster 0
Data point 651: Cluster 0
Data point 652: Cluster 0
Data point 653: Cluster 0
Data point 654: Cluster 0
Data point 655: Cluster 0
Data point 656: Cluster 0
Data point 657: Cluster 0
Data point 658: Cluster 0
Data point 659: Cluster 0
Data point 660: Cluster 0
Data point 661: Cluster 2
Data point 662: Cluster 0
Data point 663: Cluster 0
Data point 664: Cluster 0
Data point 665: Cluster 0
Data point 666: Cluster 0
Data point 667: Cluster 0
Data point 668: Cluster 0
Data point 669: Cluster 0
Data point 670: Cluster 0
Data point 671: Cluster 0
Data point 672: Cluster 0
Data point 673: Cluster 0
Data point 674: Cluster 0
Data point 675: Cluster 0
Data point 676: Cluster 0
Data point 677: Cluster 0
Data point 678: Cluster 0
Data point 679: Cluster 0
Data point 680: Cluster 5
Data point 681: Cluster 0
Data point 682: Cluster 0
Data point 683: Cluster 0
Data point 684: Cluster 0
Data point 685: Cluster 0
Data point 686: Cluster 0
Data point 687: Cluster 0
Data point 688: Cluster 0
Data point 689: Cluster 0
Data point 690: Cluster 8
Data point 691: Cluster 0
Data point 692: Cluster 0
Data point 693: Cluster 0
Data point 694: Cluster 0
Data point 695: Cluster 0
Data point 696: Cluster 0
Data point 697: Cluster 0
Data point 698: Cluster 0
Data point 699: Cluster 0
Data point 700: Cluster 0
Data point 701: Cluster 8
Data point 702: Cluster 0
Data point 703: Cluster 0
Data point 704: Cluster 0
Data point 705: Cluster 0
Data point 706: Cluster 0
Data point 707: Cluster 0
Data point 708: Cluster 0
Data point 709: Cluster 2
Data point 710: Cluster 0
Data point 711: Cluster 0
Data point 712: Cluster 0
Data point 713: Cluster 0
Data point 714: Cluster 0
Data point 715: Cluster 0
Data point 716: Cluster 0
Data point 717: Cluster 8
Data point 718: Cluster 0
Data point 719: Cluster 0
Data point 720: Cluster 0
Data point 721: Cluster 0
Data point 722: Cluster 0
Data point 723: Cluster 0
Data point 724: Cluster 0
Data point 725: Cluster 0
Data point 726: Cluster 0
Data point 727: Cluster 0
Data point 728: Cluster 0
Data point 729: Cluster 0
Data point 730: Cluster 0
Data point 731: Cluster 8
Data point 732: Cluster 0
Data point 733: Cluster 0
Data point 734: Cluster 0
Data point 735: Cluster 0
Data point 736: Cluster 0
Data point 737: Cluster 0
Data point 738: Cluster 5
Data point 739: Cluster 0
Data point 740: Cluster 0
Data point 741: Cluster 0
Data point 742: Cluster 0
Data point 743: Cluster 1
Data point 744: Cluster 0
Data point 745: Cluster 0
Data point 746: Cluster 0
Data point 747: Cluster 0
Data point 748: Cluster 0
Data point 749: Cluster 0
Data point 750: Cluster 0
Data point 751: Cluster 0
Data point 752: Cluster 0
Data point 753: Cluster 0
Data point 754: Cluster 0
Data point 755: Cluster 0
Data point 756: Cluster 0
Data point 757: Cluster 0
Data point 758: Cluster 0
Data point 759: Cluster 0
Data point 760: Cluster 0
Data point 761: Cluster 0
Data point 762: Cluster 0
Data point 763: Cluster 0
Data point 764: Cluster 0
Data point 765: Cluster 0
Data point 766: Cluster 0
Data point 767: Cluster 0
Data point 768: Cluster 0
Data point 769: Cluster 0
Data point 770: Cluster 0
Data point 771: Cluster 0
Data point 772: Cluster 0